meta(charset='utf-8')
meta(name='viewport' content='width=device-width')
title Ferdinand M端tsch
link(rel='stylesheet' href='assets/css/lato.css')
link(rel='stylesheet' href='assets/css/agate.min.css')
link(rel='stylesheet' href='assets/css/simple-grid.min.css')
link(rel='stylesheet' href='assets/css/main.css')
link(rel='icon' type='image/png' href='assets/img/favicon.png')
| <!--[if IE]><link rel="shortcut icon" href="assets/img/favicon.ico"/><![endif]-->
meta(name='author' content='Ferdinand M端tsch')
meta(name='keywords' content='Ferdinand M端tsch, n1try, Personal, Blog, Portfolio, Projects, Web development')
meta(name='description' language='en' content='I\'m Ferdinand M端tsch and this is my personal webpage containing information about myself, my projects and a blog on web technology and -development')
meta(name='robots' content='all')
meta(property='twitter:site', content='@n2try')
meta(property='twitter:creator', content='@n2try')