include head_base.pug

meta(property='og:title', content=title)
meta(property='og:type', content='website')
meta(property='og:url', content=url)
meta(property='og:image', content='https://www.gravatar.com/avatar/5970a177b907b321a7d3c23f9e2c0580?s=400')