include head_base.pug

meta(property='og:title', content=article.title)
meta(property='og:type', content='article')
meta(property='og:url', content=article.url)
meta(property='og:image', content=article.imgUrl)
meta(property='article:modified_time', content=article.rawDate)
