div(class='box')
            div(class='row')
                div(class='col-3')
                    a(href='/home') home
                div(class='col-3')
                    a(href='/about') about
                div(class='col-3')            
                    a(href='/projects') projects
                div(class='col-3')            
                    a(href='/blog') blog