extends ./../layouts/layout.pug

block head
    include ./../includes/head_content.pug

block content
        div(class='vertical-top-space')
        div(class='box logo container' itemscope itemtype='https://schema.org/Person')
            img(src='assets/img/avatar.jpg' class='profile-pic')
            h1(itemprop='name') Ferdinand Mütsch

            div(class='row')
                div(class='icon-container-lg-outer')
                    div(class='icon-container-lg smaller-text')
                        a(href='https://www.xing.com/profile/Ferdinand_Muetsch' target='_blank')
                            svg(class="icon-lg" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414")
                                path(d="M12.126 0c-.345 0-.494.217-.618.44 0 0-4.97 8.816-5.135 9.105.01.016 3.28 6.015 3.28 6.015.113.205.29.44.644.44H12.6c.14 0 .25-.052.308-.147.06-.1.06-.23-.005-.357L9.65 9.552c-.003-.004-.003-.01 0-.015L14.76.504c.063-.128.064-.258.004-.357-.06-.095-.168-.147-.307-.147h-2.33zM2.432 3.16c-.14 0-.256.05-.315.144-.06.1-.052.226.013.354l1.56 2.7c.003.006.003.01 0 .014L1.24 10.7c-.065.126-.062.254 0 .353.057.095.16.157.3.157h2.308c.345 0 .51-.232.63-.445l2.49-4.406-1.586-2.767c-.115-.205-.29-.433-.642-.433H2.432z")
                    div(class='icon-container-lg smaller-text')
                        a(href='https://github.com/n1try' target='_blank')
                            svg(class='icon-lg' viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414")
                                path(d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.083-.202-.358-1.015.077-2.117 0 0 .672-.215 2.2.82.638-.178 1.323-.266 2.003-.27.68.004 1.364.092 2.003.27 1.527-1.035 2.198-.82 2.198-.82.437 1.102.163 1.915.08 2.117.513.56.823 1.274.823 2.147 0 3.073-1.87 3.75-3.653 3.947.287.246.543.735.543 1.48 0 1.07-.01 1.933-.01 2.195 0 .215.144.463.55.385C13.71 14.53 16 11.534 16 8c0-4.418-3.582-8-8-8")
                    div(class='icon-container-lg smaller-text')            
                        a(href='http://stackoverflow.com/users/3112139/n1try' target='_blank')
                            svg(class='icon-lg' viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414")
                                path(d="M12.658 14.577v-4.27h1.423V16H1.23v-5.693H2.65v4.27h10.006zm-8.583-1.423h7.16V11.73h-7.16v1.424zm.173-3.235l6.987 1.465.3-1.38L4.55 8.54l-.302 1.38zm.906-3.365l6.47 3.02.602-1.295-6.47-3.02-.602 1.295zm1.81-3.19l5.478 4.57.906-1.078-5.477-4.57-.905 1.077zM10.502 0L9.338.863l4.27 5.735 1.164-.862L10.5 0z")
                    div(class='icon-container-lg smaller-text')            
                        a(href='https://twitter.com/n2try' target='_blank')
                            svg(class='icon-lg' viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414")
                                path(d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z" fill-rule="nonzero")
                    div(class='icon-container-lg smaller-text')            
                        a(href='https://telegram.me/n1try' target='_blank')
                            svg(class='icon-lg' viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414")
                                path(d="M12.793 10.69c.57-1.56 2.66-7.49 2.994-9.044.38-1.76-.414-1.93-2.22-1.34-1.805.59-6.435 2.305-7.215 2.582-.78.277-4.573 1.552-5.36 1.932-1.606.862-.825 2.177.97 2.86 5.37 2.577 3.845 1.264 6.242 6.032.493 1.218 1.656 3.293 2.77 1.724.586-.892 1.37-3.52 1.82-4.747z" fill-rule="nonzero")
                    div(class='icon-container-lg smaller-text')            
                        a(href='http://www.google.com/recaptcha/mailhide/d?k=01Bpumoh8pVr5f1BZp5_w5Tg==&c=qi99oBnpYtVFI4BWiLrcuaX7GplGCZeBF3hhnf16dcU=' target='_blank')
                            svg(class='icon-lg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16")
                                path(d="M 0 2 L 0 14 L 16 14 L 16 2 L 0 2 z M 1.4140625 3 L 14.585938 3 L 8 9.5859375 L 1.4140625 3 z M 1 4 L 5 8 L 1 12 L 1 4 z M 15 4 L 15 12 L 11 8 L 15 4 z M 5.7070312 8.7070312 L 8 11 L 10.292969 8.7070312 L 14.585938 13 L 1.4140625 13 L 5.7070312 8.7070312 z " id="rect4144") 

            
            //div(class='row' style='margin-top: 10px')
                //div(class='col-12') FC1C CFB3 E5F2 99A2 EB86 2C76 0025 53DE 1853 4299

            div(class='row' style='margin-top: 10px')
                div(class='col-1')
                div(class='col-10')
                    i "If you want to be successful in life, get in front of what’s coming and let it hit you"
                    | – Bill Gates