<% if (post.date) { %>
    <div class="<%= class_name %>">
        <time datetime="<%= date_xml(post.date) %>" class="dt-published" itemprop="datePublished" property="datePublished"><%= date(post.date, config.date_format) %></time>
    </div>
<% } %>
