.box {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo h1 {
    margin-bottom: 10px;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a svg {
    fill: #0275d8;
}

.icon-lg {
    width: 32px;
}

.icon-container-lg {
    width: 32px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

/* TODO: Don't make this hard-coded width */
.icon-container-lg-outer {
    margin: auto;
    width: 312px;
}

.smaller-text {
    font-size: 0.8em;
}

.profile-pic {
    width: 200px;
    border-radius: 100px;
}

.vertical-top-space {
    margin-top: 100px;
    align-items: center;
}

.blog-article-preview {
    margin-bottom: 25px;
}

.blog-article-preview h3 {
    color: #0275d8;
    margin: 0;
}

.blog-article-preview p {
    padding: 0;
    margin: 0;
}

ol {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
}

pre {
    white-space: inherit;
}

code {
    font-family: Courier
}