<article class="h-entry post" itemscope itemtype="http://schema.org/BlogPosting" vocab="http://schema.org/" typeof="BlogPosting">
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody" property="articleBody">
    <%- page.content %>
  </div>
</article>
