doctype html

html(lang='de')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width')
        title Ferdinand M端tsch
        link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato')
        link(rel='stylesheet' href='assets/simple-grid.min.css')
        meta(name='author' content='Ferdinand M端tsch')
        meta(name='keywords' content='Ferdinand M端tsch, n1try, Personal, Blog, Portfolio, Projects, Web development')
        meta(name='description' language='en' content='I\'m Ferdinand M端tsch and this is my personal webpage containing information about myself, my projects and a blog on web technology and -development')
        meta(name='robots' content='all')
    
    body
        include includes/logo.pug