doctype html

html(lang='de')
    head
        block head
    
    body
        include ./../includes/navigation.pug
        block content
        div(class='footer-label')
            a(href='imprint.html') imprint