doctype html

html(lang='de')
    head
        block head
    
    body
        include ./../includes/navigation.pug
        block content
        div(class='footer-label-right')
            a(href='imprint.html') imprint
        
        div(class='footer-label-left')
            a(href='assets/foaf.ttl' target='_blank')
                img(src='assets/img/foaf.svg' width='30px' title='FOAF' alt='friend of a friend')
        
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-3922933-8', 'auto');
              ga('send', 'pageview');
